
HTML, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
      box-sizing: border-box;
    }
.container{
    display: flex;
    width:100%;
    height:200px;
    background-color: lightcyan;
    text-align: center;
    justify-content:center;
    border-style: dashed;
    border-radius: 10px;
    border-color: black;
}
.title{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 100px;
}
.searchCont{
    padding-top: 10px;
    width:100%;
    border-style: dashed;
    border-radius: 10px;
    border-color: black;
    background-color: lightcyan;
    height:80px;
    /* display: flex;
    justify-content: space-between; */
    align-items:center ;
    text-align: center;
}
.search{
    align-items: center;
    text-align: center;
    padding-left:30px;
    padding-right:30px;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}
.cards{
    max-width: 100%;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-style: solid;
    display: inline-block;
    padding:20px;
    margin-top:0;
    align-items: center;
    text-align: center;
}
.venNames{
    border-style: dashed;
    margin-top: 0;
    font-size: 20px;
    background-color: lightcyan;
}
.grid{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
}
.figCap{
    font-weight: bold;
}
.venN{
    font-size: 20px;
}

 @media only screen and (max-width: 1700px) {
    .grid{
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
}
} 
@media only screen and (max-width: 1200px) {
    .grid{
        display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      align-items: stretch;
    }
    .title{
        font-size: 75px;
    }
    }
    @media only screen and (max-width: 600px) {
        .cards{
            max-width: 100%;
        }
        .venImg{
            max-width: 100%;
        }
        .inputL{
            max-width: 100%;
        }
    }